#about-style-div body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
  
#about-style-div html{
    box-sizing: border-box;
}
  
#about-style-div *, *:before, *:after {
    box-sizing: inherit;
}

#about-style-div .profile-photo{
      position:relative;
      margin:0 auto;
      max-width:739px;
      padding:5px;
      margin:10px 0 10px 0;
      border:none;
      box-shadow:none;
      -webkit-box-shadow:none;
      -moz-box-shadow:none;
      -o-box-shadow:none;
      -ms-box-shadow:none
}
  
#about-style-div .row{
    background-color: #f1f1f1;
}

#about-style-div .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}
  
#about-style-div .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}
  
#about-style-div .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}
  
#about-style-div .container {
    padding: 0 16px;
}
  
#about-style-div .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}
  
#about-style-div .title {
    color: grey;
}
  
#about-style-div .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}
  
#about-style-div .button:hover {
    background-color: #555;
}

#about-style-div #about-us-title{
    color:white;
}
  
@media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
}